extends ../index.jade

block content
      .container
        section.main
          .main-content
            .main-img
              ul.main-img-list.small-block-grid-1.medium-block-grid-2.large-block-grid-2
                li
                  img.main-map-img(src='assets/img/texas.png')
                li
                  img.main-flag-img(src='assets/img/flag.png')
            .main-text
              h3 Texas
              ul.main-secondary-list.small-block-grid-2.medium-block-grid-2.large-block-grid-2
                li
                  ul
                    li State Flower: Bluebonnet
                    li State Bird: Nothern Mockingbird
                    li Number of Registered Guns: 28,690 Machine Guns
                    li Number of UnDocumented Migrants: 1.65 million
                    li Oldest Tree: 1,500 years old
                  p
                    | Texas is a great state! Though many have their opinions of what it's like here, Texas embodies many attributes withing its borders.
                    | There's a bit of everything for everyone here.
                li.main-secondary-img
                    img.bush(src='assets/img/bush.png')
