.bio-container
    height 80%
    padding 0 0 0 1vw
    width 100vw

    .bio-main
        height 80%
        width 100%

        .bio-main-content
            height 80%
            width 100%
        .bio-img
            background-image url('../assets/img/me.png')
            background-repeat repeat
            background-size 25% 57%
            float left
            height 100%
            width 20%
        .bio-text
            float left
            height 100%
            padding-left 1vw
            width 80%
    .bio-secondary
        height 20%
        width 100%
