extends ../index.jade

block content
  .gallery-container
    section.gallery-main
      .gallery-main-content
        ul.gallery.small-block-grid-3.medium-block-grid-3.large-block-grid-3
          li
            ul.small-block-grid-2.medium-block-grid-2.large-block-grid-2
              li.image
                img(onmouseover='showBig(this)' onmouseout='showSmall(this)' src='assets/img/wink.gif')
              li.image
                img(onmouseover='showBig(this)' onmouseout='showSmall(this)' src='assets/img/wrist.png')
              li.image
                img(onmouseover='showBig(this)' onmouseout='showSmall(this)' src='assets/img/lies.png')
              li.image
                img(onmouseover='showBig(this)' onmouseout='showSmall(this)' src='assets/img/draw.png')
          li
            ul.small-block-grid-1.medium-block-grid-1.large-block-grid-1
              li.center-image
                img.centerpiece
          li
            ul.small-block-grid-2.medium-block-grid-2.large-block-grid-2
              li.image
                img(onmouseover='showBig(this)' onmouseout='showSmall(this)' src='assets/img/kermit.png')
              li.image
                img(onmouseover='showBig(this)' onmouseout='showSmall(this)' src='assets/img/marble.png')
              li.image
                img(onmouseover='showBig(this)' onmouseout='showSmall(this)' src='assets/img/hat.png')
              li.image
                img(onmouseover='showBig(this)' onmouseout='showSmall(this)' src='assets/img/chance.gif')
    section.gallery-secondary
block script
  script(type='text/javascript' src='js/gallery.js')

