.gallery-container
    height 80%
    padding 0 0 0 1vw
    overflow-y: scroll
    width 100vw

    .gallery-main
        height 100%
        width 100%

        .gallery-main-content
            height 100%
            width 100%

            .gallery
                margin 0 auto
                max-width 1300px

                .image
                    width 200px
                .center-image
                    .centerpiece
                        box-shadow 10px 10px 5px #888888
                        margin 0 auto
                        max-width 420px
                        max-height 300px
