.video-container
    height 80%
    padding 0 0 0 1vw
    width 100vw

    .video-main
        height 100%
        width 100%

        .video-main-content
          margin 0 auto
          width 900px
