extends ../index.jade

block content
  .video-container
    section.video-main
      .video-main-content
        iframe(width='900' height='400' src='https://www.youtube.com/embed/AthLwlPl7WQ' frameborder='0' allowfullscreen)
