extends ../index.jade

block content
  .link-container
    section.link-main
      .link-main-content
        ul.links
          li
            a(target='_tab' href='http://pigeonsandplanes.com/2014/05/being-angry-and-black-on-the-childish-gambino-tour/') Being Angry and Black on the Childish Gambino Tour
          li
            a(target='_tab' href='https://www.scotch.io') Scotch.io
          li
            a(target='_tab' href='https://www.css-tricks.com') CSS Tricks
          li
            a(target='_tab' href='https://www.egghead.io') Egghead
          li
            a(target='_tab' href='http://theworldofstevenuniverse.blogspot.com/p/steven-universe-season-1-english.html') The World of Steven Universe
          li
            a(target='_tab' href='http://www.materialup.com') MateriaUp
          li
            a(target='_tab' href='http://www.dmndrmusic.com/') DMNDR
          li
            a(target='_tab' href='http://www.bitbucket.org') Bitbucket
          li
            a(target='_tab' href='http://www.garykessler.net/library/tcpip.html') An Overview of TCP/IP Protocols
          li
            a(target='_tab' href='https://www.github.com') Github
