extends ../index.jade

block content
    .bio-container
      section.bio-main
        .bio-main-content
          .bio-img
          .bio-text
            p
              | Hello, my name is Barry Harris. At the tender age of something I was befriended by a radioactive, talking spider.
              | The spider showed me his algorithm for making the perfect web and since then I've been hooked on CompSci.
              | My none arachnid activities also include: Book writing, tennis, table-tennis, vinyl collecting and Kickstarted Campaings and most recently Kombucha.
        section.bio-secondary
