extends ../index.jade

block content
  .project-container
    section.project-main
      .project-main-content
        ul.projects.small-block-grid-1.medium-block-grid-2.large-block-grid-2
          li.project
            h3 Pypong
            img.project-image(src='assets/img/pypong.png')
            p
              | A redux of a classic. Everything you loved about pong but better!
              | Now supporting colors, multiplayer, and powerups.
              | Started my freshman year as a fun way to play with Python.
              | Created with: python and pygame.
              | *still under development*
          li.project
            h3 Parhout
            img
            p
              | Parhout, the rapping bird. A freestyle app that let's you rhyme acapella or over a random beat to test your skills.
              | When you're done upload your results and see how you compare.
              | If you're really a pro try hard mode and receive random words you must incorporate in your rhyme to boost your score!
              | A side project to learn about natural language processing(NLP).
              | Created with: javascript, html, css.
              | *still under development*
          li.project
            h3 iguy
            img.project-image(src='assets/img/iguy.png')
            p
              | Inspired by the greatest deck every, Yugi. A terminal slide deck presentation tools, utilizing markdown.
              | Created with: Marked, javascript, nodejs
              | *still under development*
          li.project
            h3 Roboeye
            img
            p
              | A side project partnering with Dr. Burge and Microsoft. Using a Kinect to do body scans and determine you perfect clothes size!
              | Created with: KinectSDK, C#
              | *still under development*
          li.project
            h3 Eerf
            img
            p
              | A live fountain converter playground.
              | Fountain is a markup language that allows writer to easily draft dialoge and scenes for scripts.
              | Created with: nodejs, javascript, html, css.
              | *still under development*
          li.project
            h3 Karm
            p
              | A clone of Twitter's "Oneshot" iOS app.
              | Allows a user to crop a picture containing a piece of text, highlight any text captured and share to any other app.
              | Created with: javascript, PaperJS, html, css
              | *still under development*


