.quote-container
    height 80%
    overflow-y: scroll
    padding 0 0 0 1vw
    width 100vw

    .quote-main
        height 100%
        width 100%

        .quote-main-content
            margin 0 auto
            width 900px

            .quotes
                list-style-type none

                .quote
                    max-width 900px
                    white-space pre
                    word-wrap break-word

