img-width = 200px

body
    height 100 vh
    width 100vw

    .content
        height 90%
        padding-top 5.7%
        width 100vw

        .title
            height 15%
            padding-left 1vw

        .container
            height 80%
            padding 0 0 0 1vw
            width 100vw

            .main
                height 80%
                width 100%

                .main-img
                    .main-map-img
                        float left
                        width img-width
                    .main-flag-img
                        width img-width
                .main-text
                    .main-secondary-img
                        width img-width + 100px
footer
    bottom 0
    position absolute

    .copyright
        padding-left 1vw

// include all other styles
@import 'nav'
@import 'bio/bio'
@import 'gallery/gallery'
@import 'links/links'
@import 'projects/projects'
@import 'quotes/quotes'
@import 'resume/resume'
@import 'videos/videos'
