navbar-left-text-padding = 15px 60px 0
navbar-right-text-padding = 15px 0 0 60px

@media only screen and (min-width: 40.063em)
  .nav
    height: 11.8%

    .logo-wrapper
      position relative

    .logo-wrapper .logo
      width 92px
      height 92px
      position absolute
      left 50%
      right 50%
      top -2px
      margin-left -46px

    .top-bar-section
      ul.right
        width 50%
        padding navbar-right-text-padding

        li
          float left
      ul.left
        width 50%
        padding navbar-left-text-padding

        li
          float right
