extends ../index.jade

block content
  .quote-container
    section.quote-main
      .quote-main-content
        ul.quotes
          li
            blockquote.quote
              | An elegant woman is a woman who despises you and has no hair under her arms.
              |      - Salvador Dali
          li
            blockquote.quote
              | Mathematical!
              |       - Finn the Human
          li
            blockquote.quote
              | People have done it before...and we\'re people.
              |       - Steven Quartz Universe
          li
            blockquote.quote
              | Pika Pika...Pika Chu.
              |       - Pikachu
          li
            blockquote.quote
              | The effective exploitation of his(or her) powers of abstraction must be regarded as on of the most vital activities of a competent programmer
              |       - Edsger W. Dijkstra
          li
            blockquote.quote
              | Each significant piece of functionality in a program should be implemented in just one place in the source code. Where similar functions are carried out by distinct piece of code, it is generally beneficial to combine theme into one by abstracting the varying parts.
              |       - Benjamin C. Pierce
          li
            blockquote.quote
              | Programs must be written for people to read, and only incidentally for machines to execute.
              |       - Ableson and Sussman
          li
            blockquote.quote
              | ...if a tree fell down and no one was around, you think it would even make a sound? Would it even touch the ground?
              |       - Jaden Smith
          li
            blockquote.quote
              | ...the feeling of being like, this is a fragment of a holographic reality that a higher consciouness made.
              |       - Willow Smith
          li
            blockquote.quote
              | The real problem in speech is not precise language. The problem is clear language... It is quite impossible to say anything with absolute precision, unless that thing is so abstracted from the real world as not to represent any real thing.
              |       - Richard Feynman
          li
            blockquote.quote
              | There is no abstract art. You must always start with something. Afterward remove all traces of reality
              |       - Pablo Picasso
          li
            blockquote.quote
              | Remember that all models are wrong; the practical question is how wrong do they have to be to not be useful.
              |       - George E. P. Box
          li
            blockquote.quote
              | It's a trap!
              |       - Admiral Ackbar
