doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0 user-scalable=no')
    title!=page + ' - Barry Harris'
    link(rel='stylesheet', href='assets/vendor/zurb/foundation.min.css')
    link(rel='stylesheet' href='css/main.css')
    script(src="/reload/reload.js")
  body
    //- Navigation
    .nav.fixed.contain-to-grid
      nav.top-bar(data-topbar role='navigation')
        ul.title-area
          li.name
            h1
              a.logo.show-for-small-only(href='#')
                img(src='assets/img/logo.png')
          li.toggle-topbar menu-icon
            a(href='#')
              span Menu
        section.top-bar-section
          .logo-wrapper.hide-for-small-only
            .logo
              a.logo(href="/")
                img(src='assets/img/logo.png')
            ul.right
              li
                a(href="/Resume") Resume
              li
                a(href='/Quotes') Quotes
              li
                a(href='/Links') Links
              li
                a(href='https://www.google.com/') Exit to Google
            ul.left
              li
                a(href="/About") About
              li
                a(href='/Projects') Projects
              li
                a(href='/Gallery') Gallery
              li
                a(href='/Videos') Videos
    .content
      h1.title!=page

      block content

  footer
    block foot
      p.copyright='© 2015-today Barry Harris'
      block script

