.project-container
    height 80%
    padding 0 0 0 1vw
    overflow-y: scroll
    width 100vw

    .project-main
        height 100%
        width 100%

        .project-main-content
            height 100%
            width 100%

            .projects
                height 100%
                width 100%

                .project
                    border 1px dashed salmon
                    max-width 1000px
                    white-space pre
                    word-wrap break-word

                    .project-image
                        max-width 200px
