extends ../index.jade

block content
  .resume-container
    section.resume-main
      .resume-main-content
        .word
          span Download
          a(target='_tab' href='assets/doc/Resume.pdf')
            span  Resume.pdf

        .pdf
          span Download
          a(target='_tab' href='assets/doc/Resume.docx')
            span  Resume.docx
    section.resume-secondary
      .resume-secondary-content
        object(data='assets/doc/Resume.pdf' type='application/pdf' title='Resume' height=400 width=900)

